<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<title>Smart Data Platform</title>

		<meta content="text/html;charset=utf-8" http-equiv="Content-type">
		<meta content="">
		<meta content="" name="description">

		<meta content="notranslate" name="google">
		<meta content="!" name="fragment">
		<base href="/">

		<link href="/img/favicon.png" rel="icon">
		<link href="/iccaches/final.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <link href="/css/administration.css" rel="stylesheet">
        <link rel="stylesheet" href="/js/chartist/chartist.css">

		<script src="/iccaches/script-1.min.js" type="text/javascript"></script>
		<!-- <script src="/iccaches/script-2.min.js" type="text/javascript"></script> -->

        <script src="/js/chartist/chartist.js"></script>
        <script src="/js/chartist/angular.chartist.js"></script>

        <script src="/js/script.js" type="text/javascript"></script>
        <script src="/angular/routes/angular-routes.js" type="text/javascript"></script>
        <script src="/angular/config/config.js" type="text/javascript"></script>
        <script src="/angular/controllers/common.js" type="text/javascript"></script>
        <script src="/angular/controllers/loadCtrl.js" type="text/javascript"></script>
        <script src="/angular/controllers/salesforce.js" type="text/javascript"></script>
        <script src="/angular/controllers/user.js" type="text/javascript"></script>
        <script src="/angular/controllers/security.js" type="text/javascript"></script>
        <script src="/angular/controllers/configuration.js" type="text/javascript"></script>
        <script src="/angular/controllers/logs.js" type="text/javascript"></script>
        <script src="/angular/controllers/logs.js" type="text/javascript"></script>
        <script src="/angular/controllers/notification.js" type="text/javascript"></script>
        <script src="/angular/controllers/reportsController.js" type="text/javascript"></script>
        <script src="/angular/services/service.js" type="text/javascript"></script>
    </head>


    <body class="app ic-body" id="app" ng-controller="CommonController" ng-class="{'sidebar-toggled': toggleicon }">
        <style media="screen">
            #front-spinner-bx{background-color:#fff;height:100vh;position:fixed;top:0;left:0;width:100%;z-index:102938;display:table}.fs-spin{text-align:center;display:table-cell;height:100%;vertical-align:middle; background-color: #f1f2f3;}.fs-spin h5{color:#23c5ea;margin-top:10px}.body-main-cn{display:none}a:hover{cursor:pointer}

            body {
                margin: 0;
            }
        </style>
        <div id="front-spinner-bx">
            <div class="fs-spin">
                <img src="svg-loaders/rings.svg" width="150px" />
            </div>
        </div>
        <div ng-include="'angular/views/not-logged-header.html'" ng-if="!g.loggedUser.Id">
        </div>
        <section class="body-main-cn">
            <div ui-view="">
            </div>
        </section>
    </body>
</html>